@page "/discovery"
@using FitFind.Models
@using Microsoft.EntityFrameworkCore
@using FitFind.Data
@using Microsoft.EntityFrameworkCore.Internal
@using static System.Random

@inject IDbContextFactory<ExercisesDbContext> Context


<div class="container">
    <h1>Hello World</h1>
    <button class="btn-primary">Like</button>
    <button class="btn-primary">Dislike</button>
</div>

@code {
    Exercise current_exercise = new Exercise();
    Random rand = new Random();

}