@page "/Discovery"
@using FitFind.Models
@using Microsoft.EntityFrameworkCore
@using FitFind.Data

@inject IDbContextFactory<ExercisesDbContext> Context

<div class="test">
    <h1>Hello World</h1>
    @foreach (var e in Context.CreateDbContext().Exercises){
        <h3>@e.Name</h3>
    }
</div>

@code {

}