@inherits LayoutComponentBase
@inject NavigationManager _NavigationManager


<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>FitFind</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <div class="btn-group" role="group">
                <button type="button" class="btn-primary" @onclick="NavigateToDiscovery">Discovery</button>
                <button type="button" class="btn-primary">Profile</button>
            </div>
        </div>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Medium">
                @Body
            </MudContainer>
        </MudMainContent>
    </main>
</div>

@code {

    public void NavigateToDiscovery()
    {
        _NavigationManager.NavigateTo("/discovery");
    }
}
